body {
	color: black;
	/*background-color: #AD2173;*/
	background-color: #85b87b;
	margin-left: 20px;
	margin-right: 40px;
	font-size: 100%;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

a:link,
a:visited {
  color: orange;
}

a:hover,
a:active {
  color: green;
}

h2 {
	font-size: 150%;
    /* text-decoration: underline; */
}

hr {
	border: 1;
	height: 4px;
	text-align: center;
	color: black;
	background-color: black;
	border-color: blue;
	margin-top: 20px;
	margin-bottom: 50px;
}

footer {
	text-align: center;
	color: orange;
	font-style: italic;
	margin-top: 60px;
	margin-bottom: 60px;
}


.hidden {
	display: none;
}

.top_picture {
	padding: 50px;
	height: 250px;
}

.intro {
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.dicefighters_body {
	text-align: center;
	max-width: 800px;
	margin: auto;
}

.overview_image {
	float: top;
	height: 300px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
}

.banner_image {
	float: top;
	height: 256px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

.banner_image_slim {
	float: top;
	height: 128px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

.download {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
}

.return {
	float: left;
	margin: auto;
}

.about {
	float: right;
	margin: auto;
}






